@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    font-family: "Nunito Sans", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgba(226, 234, 248, 1);   /* Azul */
    --secondary-color: rgba(72, 128, 255, 1); /* Verde */
    --danger-color: #e74c3c;    /* Rojo */
    --warning-color: #f39c12;   /* Amarillo */
  }